.sidebar
{
  width: 15%;
  position: fixed;
  height: 100%;
  border-right: 2px solid hsl(0, 10%, 94%);
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.logo-container
{
  margin-bottom: 2rem;
}
.logo-container h1{
  margin-top: 1.3rem;
}
@media (max-width:600px) 
{
  body
  {
    font-size: 13px;
  }
   .sidebar{
     width: 8.8rem;
     padding-top: 135px;
     z-index: 1;
     background-color: teal;
   }
}