.navbar
{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}
.nav-link {
    padding-right: 2px;
}
@media (max-width:600px) {
    .navbar
        {
      position: fixed;
      top: 0;
      width: 100%;
      height: 60px;
      z-index: 4;
     }
    .nav-link {
        position: fixed;
        top: 15px;
        left: 230px;
       
    }  
}